# here's my awesome sample topics.ini

[my.namespace.turtle_created]
replication = 3
partitions = 100
retention.ms = 1000000000
# these keys are not used by the tool, but may be useful
# for humans or for some other automation in your system
message_type = foo.bar.turtle_message
partition_strategy = random

[my.namespace.turtle_destroyed]
replication = 1
partitions = 4
message_type = foo.bar.turtle_message
