# here's my awesome topics.ini
[my.namespace.turtle_created]
message_type = mynamespace.foo.bar.turtle_created
partition_strategy = random
replication_factor = 3
partitions = 100
retention_ms = 1000000000
